div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

input{
  border-width: 1px;
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border-style: solid
}

button:hover {
  background-color: #037ef3;
  color: white
}
.shadow {
  -moz-box-shadow:    8px 8px 8px 4px #ccc;
  -webkit-box-shadow: 8px 8px 8px 4px #ccc;
  box-shadow:         8px 8px 8px 4px #ccc;
}
